<div class="row h-75 m-1">
  <div class="col-sm-2">
    <p class="text-white">Recettes</p>
    <div class="bg-secondary p-1 d-flex flex-wrap text-left h-100">
      <a
        *ngFor="let item of recipes; index as i"
        title="{{ item.name }}"
        id="{{ item.id }}"
        clickable
        (click)="selectRecipe(i)"
      >
        <div
          class="p-2 position-relative"
          id="ingredientsCart"
          style="
      background-image: url('assets/image/icons/{{ item.id }}.png');
      "
        ></div>
      </a>
    </div>
  </div>

  <div class="col-sm-2">
    <p class="text-white">Inventaire</p>
    <div class="bg-secondary p-1 d-flex flex-wrap text-left h-100">
      <a
        *ngFor="let item of inventory"
        title="{{ item.name }}"
        id="{{ item.id }}"
        clickable
      >
        <div
          class="p-2 position-relative"
          id="ingredientsCart"
          style="
    background-image: url('assets/image/icons/{{ item.id }}.png');
    "
        >
          <span
            class="badge bg-light text-dark bottom-0 end-0 rounded-pill position-absolute"
            >{{ item.count }}</span
          >
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-2">
    <p class="text-white">Recette sélectionnée</p>
    <div
      *ngIf="recipeSelected.id"
      title="{{ recipeSelected.name }}"
      class="p-2 position-relative"
      id="ingredientsCart"
      style="
      background-image: url('assets/image/icons/{{ recipeSelected.id }}.png');
      "
    ></div>
    {{ recipeSelected.name }}
    <div class="bg-secondary p-1 d-flex flex-wrap text-center">
      <a
        *ngFor="let item of ingredientsRecipe; index as i"
        title="{{ item.name }}"
        id="{{ item.id }}"
        clickable
      >
        <div
          *ngIf="ingredientsQuantityAvailable[i] == 0"
          class="p-2 position-relative"
          id="ingredientsCart"
          style="
      background-image: url('assets/image/icons/{{ item.id }}.png');
      "
        >
          <span
            class="badge bg-light text-danger bottom-0 end-0 rounded-pill position-absolute"
            >{{ ingredientsQuantityAvailable[i] }}</span
          >
          <img class="imgred" src="assets/image/red.png" />
        </div>

        <div
          *ngIf="ingredientsQuantityAvailable[i] > 0"
          class="p-2 position-relative"
          id="ingredientsCart"
          style="
      background-image: url('assets/image/icons/{{ item.id }}.png');
      "
        >
          <span
            class="badge bg-light text-dark bottom-0 end-0 rounded-pill position-absolute"
            >{{ ingredientsQuantityAvailable[i] }}</span
          >
        </div>
      </a>
      <a
        *ngFor="let item of numberNothing"
        title="{{ item }}"
        id="{{ item }}"
        clickable
      >
        <div
          class="p-2 position-relative"
          id="ingredientsCart"
          style="background-image: url('assets/image/icons/nothing.png')"
        ></div>
      </a>
    </div>
    <button [disabled]="!recipeReady ? 'disabled' : null">
      Lancer la Recette
    </button>
  </div>

  <div class="col-sm-6">
    <p class="text-white">Recettes à Envoyer</p>
  </div>
</div>
