<form class="offset-0 offset-sm-0 offset-lg-1 col-12 col-sm-12 col-lg-10 text-white">
    <div class="row flex-column align-items-center">
        <div class="mb-5 text-center col-11 text-sm-center text-lg-start">
            <label for="InputEmail1" class="form-label fw-bold ">Adresse E-mail</label>

            <input type="email" class="form-control opacity-75" id="InputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-5 col-11 text-center text-sm-center text-lg-start">
            <label for="InputPassword1" class="form-label fw-bold  ">Mot de passe</label>
            <input type="password" class="form-control opacity-75" id="InputPassword1">
        </div>
        <div class="mb-5 ms-5 col-11 form-check align-self-start">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Accepter les <a class="colorOrange textShadow"
                    href="#">conditions d'utilisations.</a></label>
        </div>
        <div class="text-center mb-3">
            <button type="submit" class="w-50 btnChoice btnConnexion p-3">Connexion</button>
        </div>

    </div>
</form>