<div>
  <div class="row">
    <div class="col-sm-12"></div>
    <div class="row">
      <div class="col-sm-5">
        <p class="text-white">Inventaire</p>
        <div class="bg-secondary p-1">
          <img src="../../assets/image/icons/nothing.png" alt="" />
        </div>
      </div>

      <div class="col-sm-2 text-center bg-secondary">
        <p class="text-white">V</p>
        <button>Accept</button>
      </div>

      <div class="col-sm-5">
        <p class="text-white">Magasin</p>
        <div class="bg-secondary p-1">
          <a *ngFor="let item of ingredients">
            <img src="../../assets/image/icons/{{ item.id }}.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
