<ul class="list-group-flush p-0 d-flex align-items-center text-center list-choice mb-5 ">
    <li class="list-group-item  p-3 col-6 ">
        <a class="a-brown" routerLink="/home/connexion">Connexion</a>
    </li>
    <li class="list-group-item  blackAlpha p-3 col-6 ">
        <a class="a-brown" routerLink="/home/inscription">S'inscrire</a>
    </li>
</ul>
<form (ngSubmit)="onSubmit()" [formGroup]="connectionForm"
    class="offset-0 offset-sm-0 offset-lg-1 col-12 col-sm-12 col-lg-10 text-white">
    <div class="row flex-column align-items-center">
        <div class="mb-5 text-center col-11 text-sm-center text-lg-start">
            <label for="email" class="form-label fw-bold ">Adresse E-mail</label>
            <input type="email" formControlName="email" class="form-control opacity-75" id="email"
                aria-describedby="emailHelp">
            <p class="text-danger" *ngIf="submitted && f.email.errors?.['required']">Ce champ est requis</p>
        </div>
        <div class="mb-5 col-11 text-center text-sm-center text-lg-start">
            <label for="password" class="form-label fw-bold">Mot de passe</label>
            <input formControlName="password" type="password" class="form-control opacity-75" id="password">
            <p class="text-danger" *ngIf="submitted && f.email.errors?.['required']">Ce champ est requis</p>
        </div>

        <div class="text-center mb-3">
            <button type="submit" class="w-50 btn-brown p-3">Connexion</button>
        </div>
    </div>
</form>