.map{
  --bs-gutter-x: 0 !important;
}
#room {
  background-image: url("../../../assets/image/bg-stone.jpg");
  width: 98%;
  height: 100%;
  border-radius: 10px;
}
.tableRest {
  background-image: url("../../../assets/image/table_01.png");
  width: 418px;
  height: 287px;
  position: relative;
}
.accordion{
  right: 0;
  width: 150px;
  z-index: 100;

}
#bar {
  background-image: url("../../../assets/image/bar.png");
  width: 692px;
  height: 416px;
}

img {
  width: 130px;
  margin: 0 0 0 40px;
}
.customer0{
  transform: rotate(180deg);
}
.zoomCustomer {
  cursor: url("../../../assets/image/cursor-zooming.png"), auto;

}

.textCustomer{
  top: 0;
  left: -150px;
  padding: 10px;
  background-color: var(--color1);
  z-index: 10;
}
@media screen and (max-width: 1250px ){
  .textCustomer{
    top:0;
    left: 50%;
  }
}
.customerTop {
  transform: rotate(3.142rad);
}

.badgeTable {
  width: 418px;
  height: 287px;
  position: relative;
}
#btnDisplayNewCustomer {
  bottom: 0.5rem;
  left: 0.5rem;
}
.badge{
  font-size: 1.5rem;
}
