<div class="row h-100 m-1">
  <div class="col-sm-12" id="room">
    <div class="row m-1">
      <div class="col-sm-6" id="bar"></div>

      <div
        *ngFor="let table of tableRestWithCustomer; index as i"
        class="col-sm-6"
        id="tableRest"
        class="d-flex flex-wrap"
      >
        <span class="position-absolute badge rounded-pill bg-danger">
          {{ i + 1 }}
        </span>
        <div
          *ngFor="
            let customer of tableRestWithCustomer[i].customers;
            index as j
          "
        >
          <img
            *ngIf="j < 2"
            src="../../../assets/image/customer_0{{ customer.numImg }}.png"
            class="customerTop"
            alt=""
          />
          <img
            *ngIf="j >= 2"
            src="../../../assets/image/customer_0{{ customer.numImg }}.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
