<div class="row h-100 m-1">
  <div class="col-sm-12" id="terrace">
    <div class="row m-1">
      <div class="position-absolute d-flex justify-content-end">
        <div id="divNewCustomer">
          <div *ngIf="newCustomers.length" class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <h1><span class="badge rounded-pill bg-danger">!</span></h1>
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <select
                  class="form-select"
                  aria-label="-Client-"
                  (change)="tableChange($event)"
                >
                  <option selected>-Table-</option>
                  <option
                    value="{{ i }}"
                    *ngFor="let table of tableRestWithCustomer; index as i"
                  >
                    Table {{ i + 1 }}
                  </option>
                </select>
                <select
                  class="form-select"
                  aria-label="-Client-"
                  (change)="customerChange($event)"
                >
                  <option selected>-Client-</option>
                  <option
                    value="{{ i }}"
                    *ngFor="let customer of newCustomers; index as i"
                  >
                    {{ customer.id }}
                  </option>
                </select>
                <button
                  type="button"
                  class="btn btn-secondary m-3"
                  (click)="assignTable()"
                  clickable
                >
                  Placer le client
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngFor="let table of tableRestWithCustomer; index as i"
        class="col-sm-6 d-flex flex-wrap"
      >
        <div class="tableRest">
          <div class="position-absolute badgeTable">
            <h1>
              <span
                class="position-absolute badge rounded-pill bg-success ms-3 top-50"
              >
                {{ i + 1 }}
              </span>
            </h1>
          </div>
          <div
            *ngFor="
              let customer of tableRestWithCustomer[i].customers;
              index as j
            "
            class="zoomCustomer"
          >
            <img
              *ngIf="j < 2"
              src="../../../assets/image/customer_0{{ customer.numImg }}.png"
              class="customerTop"
              alt=""
            />
            <img
              *ngIf="j >= 2"
              src="../../../assets/image/customer_0{{ customer.numImg }}.png"
              class="customerBottom"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
