<div class="row ">
    <!--
    <aside class="col-11 col-lg-2 mx-auto" id="boxSalle">
        <h2 class="m-2 fs-1">Salle</h2>
        <ul class="d-flex flex-lg-column my-1 justify-content-start p-0 list-unstyled">
            <li class="m-1 fs-5 btnSalle  active" id="salle-1">Salle du restaurant</li>
            <li class="m-1 fs-5 btnSalle " id="salle-2">Cuisine</li>
            <li class="m-1 fs-5 btnSalle " id="salle-3">Terrase</li>
        </ul>
    </aside>-->
    <section class="col-11 mx-auto p-0" id="boxContent">
        <div id="map" class="position-relative" >

        </div>
    </section>
</div>

<router-outlet></router-outlet>
