<form [formGroup]="modifMdp" (ngSubmit)="onSubmit()"
    class="offset-0 offset-sm-0 offset-lg-1 col-12 col-sm-12 col-lg-10 text-white">
    <div class="row flex-column align-items-center">
        <div>
            <h1 class="text-center title m-3">Modification de votre mot de passe</h1>
        </div>
        <div class="mb-5 text-center col-11 text-sm-center text-lg-start">
            <label for="name" class="form-label fw-bold ">Votre nouveau mot de passe</label>
            <input formControlName="password" type="password" class="form-control opacity-75" id="name">
            <p class="text-danger" *ngIf="submitted && f.password.errors?.['required']">Ce champ est requis</p>
            <p class="text-danger" *ngIf="submitted && f.password.errors?.['minlength']">Le mot de passe doit avoir au
                moins 8
                caractéres
            </p>
            <p class="text-danger" *ngIf="submitted && f.password.errors?.['maxlength']">Le mot de passe doit pas avoir
                plus de 30
                caractéres</p>
            <p class="text-danger" *ngIf="submitted && f.password.hasError('matching')">Les deux mots de passes
                doit correspondre</p>
        </div>
        <div class="mb-5 text-center col-11 text-sm-center text-lg-start">
            <label for="name" class="form-label fw-bold ">Confirmer votre mot de passe</label>
            <input formControlName="confirmPassword" type="password" class="form-control opacity-75" id="name">
            <p class="text-danger" *ngIf="submitted && f.confirmPassword.errors?.['required']">Ce champ est requis</p>
            <p class="text-danger" *ngIf="submitted && f.confirmPassword.errors?.['minlength']">Le mot de passe doit
                avoir au
                moins 8
                caractéres
            </p>
            <p class="text-danger" *ngIf="submitted && f.confirmPassword.errors?.['maxlength']">Le mot de passe doit
                pas
                avoir
                plus de 30
                caractéres</p>
            <p class="text-danger" *ngIf="submitted && f.confirmPassword.hasError('matching')">Les deux mots de passes
                doit correspondre</p>
        </div>
        <div class="text-center mb-3">
            <button routerLink="/home/menu/profil" type="button" class="w-25 m-1 btn-brown p-3 ">Retour</button>
            <button type="submit" class="w-25 btn-brown m-1 p-3">Valider</button>

        </div>

    </div>
</form>