body{
    background-image: url("../asset/image/bgGame.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Skranji',cursive;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

h2{
    color: #C45404;
    text-shadow: 2px 2px 1px#000000;
}
li{
    font-size: 30px;
}
.navbar-nav{
    flex-direction: row;
}
.navbar-nav .nav-link{
    padding: 0.5rem 1rem;
}
#imgLogo{
    width: 24%;
}
#boxSalle{
    background-color: rgba(255, 196, 0, 0.575);
}
aside,#boxContent{
    border-radius: 10px;
    border: rgb(176, 73, 9) groove 8px;
}
aside li{
    color: #f1adad;
    border: ridge rgba(0, 0, 0, 0.507) ;
    padding: 5px;
    background-color: #ca4203;
    
}
#boxSalle .active{
    border: rgb(176, 9, 9) groove 8px;
    color: rgba(255, 255, 0, 0.911);
}
.bg-brown{
    background-color: rgba(165, 42, 42, 0.329);
    
}
#boxContent{
    background-image: url("../asset/image/bg-wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    
}
#map{
    background-color: #C45404;
    width: 95%;
    height: 95%;
    margin: 2% auto;
    border-radius: 10px;
}
#btnMobile-DisplayNotif{
    bottom: 0.5rem ;
    right: 0.5rem ;
}
#boxNotification{
    background-color: rgba(0, 0, 0, 0.726);
    top: 0;
    height: 100vh;
}
#boxNotification aside{
    background-color:rgba(161, 37, 37, 0.603) ;
    top: 5rem;
    left: 4%;
}
#boxNotification ul{
    max-height: 37rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: brown orange;
    text-shadow: 1px 1px 1px rgba(255, 255, 0, 0.856);
}

/* Works on Chrome, Edge, and Safari */
#boxNotification ul::-webkit-scrollbar {
    width: 12px;
}

#boxNotification ul::-webkit-scrollbar-track {
    background: orange;
}

#boxNotification ul::-webkit-scrollbar-thumb {
    background-color: brown;
    border-radius: 20px;
    border: 3px solid orange;
}
#boxNotification li{
    background-color: rgba(255, 196, 0, 0.863);
    color: #c43a04ec;
    position: relative;
}
.crossTicketNotif,.crossWindowNotif{
    color: black;
    text-shadow: 0px 0px 3px black;
    cursor: pointer;
}
.crossTicketNotif{
    position: absolute;
    top: 5px;
    right: 5px;
    
}
.crossWindowNotif{
    margin: 5px;
    font-size: 3rem;
}
/*----------------loader-------------------------*/
#container{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}
#verre{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    box-shadow: inset 0px 0px 7px 2px rgb(196, 196, 196);
}
#contenu{
    width: 100%;
    height: 170%;
    position: absolute;
    left: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#cloud{
    color: white;
    text-shadow: 0px 0px 1px black;
    font-size: 6.5rem;
    margin-bottom: 5px;
}
#biere{
    width: 87%;
    height: 52%;
    margin-bottom: 8px;
    border-radius: 5px;
    position: relative;
    background: #D77A01;
    overflow: hidden;
    background: -moz-linear-gradient(top, #D77A01 0%, #F59F00 100%);
    background: -webkit-linear-gradient(top, #D77A01 0%, #F59F00 100%);
    background: linear-gradient(to bottom, #D77A01 0%, #F59F00 100%);
}
.remplissage50{
    transform-origin: bottom;
    animation: remplissement50 1s 0s ease-in-out backwards;
}
.remplissage100{
    transform-origin: bottom;
    animation: remplissement100 1s 2s ease-in-out forwards;
}
.bulle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: 0;
    background: #c57001;
    position: absolute;
}

#bulle1{
    bottom: 10px;
    right: 10px;
    animation: bulleMonte 2s 2s ease-in infinite;
}

#bulle2{
    bottom: 20px;
    left: 10px;
    animation: bulleMonte 2s 4.5s ease-in infinite;
}
#bulle3{
    bottom: 40px;
    right: 20px;
    animation: bulleMonte 2s 3.2s ease-in infinite;
}
#bulle4{
    bottom: 25px;
    right: 40px;
    animation: bulleMonte 2s 2.2s ease-in infinite;
}
#bulle5{
    bottom: 50px;
    right: 45px;
    animation: bulleMonte 2s 5s ease-in infinite;
}
#poigner{
    width: 50px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 0px 20px 20px 0px ;
    box-shadow: inset 0px 0px 7px 2px rgb(196, 196, 196);

}
#poignerVide{
    width: 70%;
    height: 70%;
    background-color: antiquewhite;
    margin-top: 30%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 7px 2px rgb(196, 196, 196);

}

@keyframes bulleMonte {
    0%{
        transform:translateY(0);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform:translateY(-100px);

    }
}
@keyframes remplissement50 {
    0%{
        transform: scaleY(0%);
    }
    100%{
        transform: scaleY(50%);
    }
}
@keyframes remplissement100 {
    0%{
        transform: scaleY(50%);
    }
    100%{
        transform: scaleY(100%);
    }
}
@media (min-width: 1200px){
    #boxNotification {
        position: static!important;
        background-color: rgba(0, 0, 0, 0)!important;
        height: 75vh;
    }
    #boxNotification aside{
        top: 0;
        left: 0;
        height: 75vh;
    }
}
@media screen and (max-width: 992px){
    #boxSalle{
        display: flex;
        flex-direction: row;
    }
}
